.bg_navbar{
    background-color: #7499f0;
    
}

.text_header{
    width: 80%;
    padding: 100px 60px 10px 60px;
    height: 450px;
    color: #fff;
    font-size: 20px;
} 
.col-4:hover{
 
    transform: scale(0.9, 0.9);
}


/*sfdsf */

img{
    height: 450px;
}


/* ----------- */

.img_header{
    height: 110vh;
    background-image: url("https://cdn.pixabay.com/photo/2017/11/07/00/07/fantasy-2925250_1280.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.section_text{
    height: 90vh;
    padding: 50px 60px 10px 60px;
}
.row{
    /*
    background-color: #628CEE;
    */
    
    height: 50px;
    padding: 30px;
}
.footer{
    background-color: #628CEE;
    
}


.efecto-hover:hover{
    transform: scale(1.09);
    transition: 0.8s ease;
    cursor: pointer;

}

.color-morado > h2{
    color: blueviolet;
}


.margin-footer-index{
    margin-top: 260px;
}


.margin-footer-fichas{
    margin-top: 760px;
}

